USE [master]
GO
/****** Object:  Database [Austal_DB]    Script Date: 4/24/2017 6:53:12 PM ******/
CREATE DATABASE [Austal_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Austal_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Austal_DB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Austal_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Austal_DB_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Austal_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Austal_DB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 4/24/2017 6:53:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[admin_ID] [nvarchar](50) NOT NULL,
	[phone_Number] [nvarchar](50) NULL,
	[department_ID] [int] NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 4/24/2017 6:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[job_Title] [nvarchar](50) NOT NULL,
	[birthday] [date] NOT NULL,
	[hire_Date] [date] NULL,
	[activity] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User_Account]    Script Date: 4/24/2017 6:53:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User_Account](
	[user_Name] [nvarchar](50) NOT NULL,
	[bio] [nvarchar](max) NULL,
	[picture] [varbinary](max) NULL,
	[email] [nvarchar](100) NULL,
	[password] [nchar](50) NOT NULL,
	[user_ID] [int] NOT NULL,
	[UserAccountID] [int] IDENTITY(1,1) NOT NULL,
	[department] [nvarchar](50) NULL,
 CONSTRAINT [PK_User_Account] PRIMARY KEY CLUSTERED 
(
	[UserAccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[User_Account]  WITH CHECK ADD  CONSTRAINT [FK_Use_ID] FOREIGN KEY([user_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[User_Account] CHECK CONSTRAINT [FK_Use_ID]
GO
USE [master]
GO
